<!DOCTYPE html>
<html>
    <head>
        <title>
            EAT DA BURGER
        </title>
        {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
        {{/each}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>